#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
    border-bottom: 1px solid #666;
    .logo {
        text-align: left;
        width: 400px;
        padding-left: 20px;
        font-weight: 500;
        
        .icon {
            font-size: 45px;
            vertical-align: -7px;
            margin-right: 6px;           
        }
        
        span {
            font-weight: 700;
            font-size: 40px;
        }
    }
    .search {
        width: calc(80% - 400px);
        text-align: right;
        padding-right: 40px;
        position: relative;
        
        .glass {
            // display: inline-block;
            width: 20px;
            height: 20px;
            left: 350px;
            top: 0;
            color: #000;
        }
        
        input {
            padding: 10px;
            border-radius: 5px;
        }
    }
}
@media (max-width: 800px){
    #header {
        flex-direction: column;
        .logo {
            width: 100%;
            text-align: center;
        }
        .search {
            padding-bottom: 10px;
            width: 100%;
            text-align: center;
            margin-left: 80px;
        }
    }
}